.navbar-tabs {
    display: flex;
    padding: 10px;
    margin-left: 70px;
    margin-top: 15px;
    font-weight: bold;
  }
  
  .navbar-tab {
    /* cursor: pointer; */
    color: #888888f9;
    padding: 8px;
    font-size: 14px;
    margin-right: 5px;
    cursor: none;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .navbar-tab:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2);
  }
  
  .navbar-tab.active {
    color: white;
    transition: color 2s ease;
    border-bottom: 2px solid white;
    transition: border 2s ease;
  }

  .mobile-hamburger {
    display: none;
    /* cursor: pointer; */
    font-size: 20px;
    color: white;
    position: absolute;
    left:20px;
    top: 20px;
    z-index: 6;
    background-color: transparent;
  }

  .navbar-tabs-mobile {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 50px;
    background-color: black;
    margin-top: 0px;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  .navbar-tab-mobile {
    /* cursor: pointer; */
    display: block;
    color: white;
    padding: 8px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: none;
    text-decoration: none;
    border-bottom: 2px solid grey;
    padding-top:10px;
    padding-bottom: 10px;
  }
  
  .navbar-tab-mobile:hover{
    background-color: rgb(169, 166, 166);
    border-radius:10px;
    color:black;
    transition: background-color 0.5s ease;
  }

  .navbar-tab-mobile.active {
    background-color: white;
    border-radius:10px;
    color:black;
    transition: background-color 0.5 ease;
  }

  .nav-logo{
    position: absolute;
    right: 250px;
    margin-top: 10px;
    height: 40px;
    padding: 1.5px;
    border-radius: 50%; 
    /* background: radial-gradient(
      transparent 60%,
      #ff9d00 65% 100%
    ); */
    border: 1px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(50, 40, 40), rgb(50, 40, 40) 60%), 
                      linear-gradient(30deg, rgb(111, 111, 111) 36%, #f69a05e9 30%),
                      linear-gradient(120deg, #f69a05e9 36%, #f69a05e9 30%),
                      linear-gradient(300deg, rgb(111, 111, 111) 46%, rgb(111, 111, 111) 30%),
                      linear-gradient(240deg, #f69a05e9 36%, rgb(111, 111, 111) 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    z-index: 1; 
  }
  
  .nav-logo-img{
    position: absolute;
    right: 80px;
    margin-top: 15px;
    height: 30px;
    padding: 1.5px;
  }

  .nav-logo-mobile{
    margin-top: 10px;
    height: 30px;
    padding: 1.5px;
    border-radius: 50%; 
    /* background: radial-gradient(
      transparent 60%,
      #ff9d00 65% 100%
    ); */
    border: 1px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(50, 40, 40), rgb(50, 40, 40) 60%), 
                      linear-gradient(30deg, rgb(111, 111, 111) 36%, rgb(111, 111, 111) 30%),
                      linear-gradient(120deg, #f69a05e9 36%, #f69a05e9 30%),
                      linear-gradient(300deg, #f69a05e9 46%, rgb(111, 111, 111) 30%),
                      linear-gradient(240deg, #f69a05e9 36%, #f69a05e9 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    z-index: 1; 
  }

  .nav-logo-img-mobile{
    margin-left: 5px;
    margin-top: 15px;
    height: 20px;
    padding: 1.5px;
    padding-bottom: 5px;
  }
  .logo-mobile{
    margin-bottom: 10px;
  }

  @media (max-width: 1100px) {
    .mobile-hamburger {
      display: block;
    }
  
    .navbar-tabs {
      display: none;
    }
  }